$primary-color:#1c1d25;
$secondary-color: linear-gradient(270deg, #f06449, #ef3636);
$third-color : linear-gradient(270deg, #235aa6, #101b3b);
$text-color : #b0b2c3;
$hero-color : #fff;
$show-home-image: true;
$home-image: url(../Assets/Images/background.jpg);
$background-opacity: 0.9;





@mixin easeOut {
    transition: all 0.5s ease-out;
}




@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;

    }
}

@mixin mediaMd {
    @media screen and (max-width: 786px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) and (max-width: 1170) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (max-width: 1171px) {
        @content;
    }
}