@include mediaXl {
    .lg-heading {

        font-size: 2.997584em;

    }


    .work-section .work-list .project-mask-number {
        right: 0 !important;
    }




    li {
        margin: auto;


        .project {
            width: 95% !important;
            height: 290px !important;

            .work-text-section {
                left: 40px !important;
                bottom: 50px !important;

                .project-title {
                    font-size: 1.125em !important;

                }
            }
        }

    }


    .main-nav .nav-content {
        width: 842px !important;
    }

    .footer .content {
        width: 95% !important;


        .footer-copy {
            margin-left: unset !important;
        }

        .inner-container .footer-links {
            margin: 0 0 0 50px !important;
        }
    }

}

@include mediaLg {


    .lg-heading {

        font-size: 2.997584em;

    }


    .work-section .content .work-list .project1-li {
        margin: 0 !important;
    }


    .project {
        width: 95% !important;
        height: 290px !important;

        .work-text-section {
            left: 40px !important;
            bottom: 50px !important;

            .project-title {
                font-size: 1.125em !important;

            }
        }
    }



    .footer .content {
        width: 95% !important;


        .footer-copy {
            margin-left: unset !important;
        }

        .inner-container .footer-links {
            margin: 0 0 0 50px !important;
        }
    }

}

@include mediaMd {
    .lg-heading {

        font-size: 2.997584em;

    }

    .page-wrap .main-hero .main-hero-text .icons {
        visibility: hidden;
    }

    .work-section .work-list .project-mask-number {
        right: auto !important;
    }


    .work-section .content .work-list .project1-li,
    .project2-li {
        margin: 0px 0px 100px 0px !important;
    }

    li {
        margin: auto;


        .project {
            width: 95% !important;
            height: 290px !important;

            .work-text-section {
                left: 40px !important;
                bottom: 50px !important;

                .project-title {
                    font-size: 1.125em !important;

                }
            }
        }

    }


    .main-nav .nav-content {
        visibility: hidden !important;
    }

    .footer .content {
        width: 95% !important;


        .footer-copy {
            margin-left: unset !important;
        }

        .inner-container .footer-links {
            margin: 0 0 0 50px !important;
        }
    }


}

@include mediaSm {}