@include mediaXl {


    .contact-about {
        width: 900px;


        .half-contact {



            &.is-contact {

                .skills-container {
                    width: 70%;
                    margin: 82px 0 0 0;
                    padding: 0px 22px 0px 0px;
                    min-height: 388px;


                }


            }
        }


        .lg-heading {

            font-size: 2.997584em;

        }


        .work-section .work-list .project-mask-number {
            right: 0 !important;
        }




        li {
            margin: auto;


            .project {
                width: 95% !important;
                height: 290px !important;

                .work-text-section {
                    left: 40px !important;
                    bottom: 50px !important;

                    .project-title {
                        font-size: 1.125em !important;

                    }
                }
            }

        }


        .main-nav .nav-content {
            width: 842px !important;
        }

        .footer .content {
            width: 100% !important;


            .footer-copy {
                margin-left: unset !important;
            }

            .inner-container .footer-links {
                margin: 0 0 0 50px !important;
            }
        }

    }

    @include mediaLg {







        .lg-heading {

            font-size: 2.997584em;

        }


        .work-section .content .work-list .project1-li {
            margin: 0 !important;
        }


        .project {
            width: 95% !important;
            height: 290px !important;

            .work-text-section {
                left: 40px !important;
                bottom: 50px !important;

                .project-title {
                    font-size: 1.125em !important;

                }
            }
        }



        .footer .content {
            width: 100% !important;


            .footer-copy {
                margin-left: unset !important;
            }

            .inner-container .footer-links {
                margin: 0 0 0 50px !important;
            }
        }




    }

    @include mediaMd {
        .lg-heading {

            font-size: 2.997584em;

        }

        .hero-name {
            width: 286px;
            font-size: 11px;
        }

        .main-hero .go-next-works {
            left: 50%;

        }

        .page-wrap .main-hero .main-hero-text .icons {
            visibility: hidden;
        }

        .work-section .work-list .project-mask-number {
            right: auto !important;
        }


        .work-section .content .work-list .project1-li,
        .project2-li {
            margin: 0px 0px 100px 0px !important;
        }

        li {
            margin: auto;


            .project {
                width: 95% !important;
                height: 290px !important;

                .work-text-section {
                    left: 40px !important;
                    bottom: 50px !important;

                    .project-title {
                        font-size: 1.125em !important;

                    }
                }
            }

        }


        .main-nav .nav-content {
            width: 100% !important;

        }

        .main-nav .nav-links {
            display: none;

        }

        .footer .content {
            width: 100% !important;


            .footer-copy {
                margin-left: unset !important;
            }

            .inner-container .footer-links {
                margin: 0 0 0 50px !important;
            }
        }

        .nav-toggle {
            display: block !important;
        }

        .is-mobile-open {
            .mobile-menu {
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }


        .contact-about {

            right: auto;
            width: 100%;
            height: 100%;
            overflow-y: auto;

            .half-contact {
                position: relative;
                top: auto;
                left: auto;
                float: left;
                width: 100%;
                height: auto;
                padding: 40px 0;
                overflow: hidden;


                &.is-contact {

                    .skills-container {
                        width: 70%;
                        margin: 50px auto 0;
                        padding: 0px 22px 0px 0px;
                        min-height: 388px;


                    }


                }

                .contact-info {
                    top: auto;
                    left: auto;
                    transform-style: flat;
                    position: relative;
                    margin: 0px 0px 0px 297px;


                    .close-contact {
                        top: -82vh !important;
                        right: -7px !important;
                    }
                }

            }
        }
    }

    @include mediaSm {


        .is-mobile-open {
            .mobile-menu {
                opacity: 1;
                visibility: visible;
                display: block;
            }
        }

        .contact-about {

            .half-contact {




                &.is-contact {

                    .skills-container {
                        width: 107%;
                        margin: 37px 0 0 -32px;
                        padding: 0px 22px 0px 0px;
                        min-height: 388px;
                    }


                }


                .contact-info {

                    margin: 0px 0px 0px 190px !important;

                    .close-contact {
                        top: -82vh !important;
                        right: -34px !important;
                    }
                }

                .boxes {
                    margin-top: 65px;
                }
            }
        }
    }
}


@media screen and (max-width: 2560px) {

    .main-hero .main-hero-text .content {
        padding-left: 150px;
    }

    .page-wrap .main-nav .nav-content {
        width: 85%;

    }
}

@media screen and (max-width: 1025px) {

    .main-hero .main-hero-text .content {
        padding-left: 100px;
    }

    .page-wrap .main-nav .nav-content {
        width: 90%;

    }


    .work-section .content .work-list li .project {
        width: 95%;
        opacity: 1;
        height: 438px;
    }

}

@media screen and (max-width: 813px) {
    .title-section {


        .projects-title {
            font-size: 42px;
            letter-spacing: -2px;

        }

        .projects-subtitle {
            font-size: 1.4em;

        }
    }

}


@media screen and (max-width: 769px) {

    .contact-about .half-contact .contact-info .close-contact {

        right: -127px !important;


    }

    .main-hero .main-hero-text .content {
        padding-left: 50px;
    }


    .title-section {


        .projects-title {
            font-size: 42px;
            letter-spacing: -2px;

        }

        .projects-subtitle {
            font-size: 1.4em;

        }
    }



    .project-role {
        font-size: 9px;
    }

    .project-context {
        font-size: 9px;
    }

    .project-period {
        font-size: 9px;
    }



    .projects-desc {
        font-size: 14px;
        width: 80%;
    }

    .next-projects {
        padding: 30px 10px 30px 23px;
    }


    .next-projects {
        padding: 30px 10px 30px 23px;

        .next-arrow {
            display: none;
        }


    }

}

@media screen and (max-width: 426px) {

    .contact-about .half-contact.is-contact .skills-container {
        padding: 0px 0px 0px 10px;

    }

    .contact-about .half-contact .contact-info .close-contact {
        right: -41px !important;


    }

    .main-hero .main-hero-text .content {
        padding-left: 0;
    }


    .title-section {


        .projects-title {
            font-size: 30px;
            letter-spacing: -2px;

        }

        .projects-subtitle {
            font-size: 1.4em;

        }
    }

    .projects-details {
        flex-direction: column;
        align-items: center;
    }

    .project-role {
        font-size: 12px;
    }

    .project-context {
        font-size: 12px;
    }

    .project-period {
        font-size: 12px;
    }

    .desc-title {
        font-size: 32px;

    }

    .projects-desc {
        font-size: 14px;
        width: 80%;
    }

    .next-projects {
        padding: 30px 10px 30px 23px;

        .next-work {
            font-size: 26px;

        }

        .next-arrow {
            display: none;
        }
    }

}

@media screen and (max-width: 376px) {


    .contact-about .half-contact.is-contact {

        .skills-container {
            width: 100%;
            margin: 56px 0px -10px 0px;
            padding: 0px;

            ul {
                position: relative;

                .html {
                    font-size: 24px;
                    top: 45px;
                }

                .css {
                    font-size: 27px;
                    top: 20px;
                    left: 7em;
                }

                .javascript {
                    font-size: 21px;
                    left: 9em;
                    top: 5em;
                }

                .typescript {
                    font-size: 19px;
                    left: 4em;
                    top: 5em;
                    opacity: 0.9;
                }

                .react {
                    font-size: 30px;
                    top: 6em;
                }

                .redux {
                    font-size: 20px;
                    right: 14px;
                    opacity: 0.8;
                }

                .react-hooks {
                    font-size: 20px;
                    top: 13em;
                    left: 5em;
                }

                .nodejs {
                    font-size: 25px;
                    top: 8em;
                    left: 9em;
                }

                .nestjs {
                    font-size: 10px;
                    top: 15em;
                    left: 17em;
                    opacity: 0.5;
                }

                .mongodb {
                    left: 135px;
                    opacity: 0.6;
                    font-size: 20px;
                    top: -38px;
                }

                .es6 {
                    top: 71px;
                    left: 10em;
                    font-size: 16px;
                }

                .restful {
                    top: 4em;
                    opacity: 0.8;
                    left: 16em;
                    font-size: 15px;
                }

                .bootstrap {
                    top: 19em;
                    left: 165px;
                    opacity: 0.7;
                }

                .git {
                    right: 73px;
                    top: 10em;
                }

                .sass {
                    top: 18rem;
                    right: 7rem;
                    font-size: 19px;
                }


            }
        }

    }


}

@media screen and (max-width: 321px) {


    .contact-about .half-contact .contact-info {
        margin: 0px 0px 0px 133px !important;

    }

    .contact-about .half-contact {
        width: 100%;
    }


    .main-hero .main-hero-text .text-loading-mask {
        padding-left: 0px;

    }

    .hero-name {
        font-size: 10px;
        width: 254px;

    }

    .sm-heading {
        font-size: 14px;

    }

    .main-hero .main-hero-text .content {
        padding-left: 0;
    }

    .title-section {


        .projects-title {
            font-size: 27px;
            letter-spacing: -2px;

        }

        .projects-subtitle {
            font-size: 1em;

        }
    }

    .projects-details {
        flex-direction: column;
        align-items: center;
    }

    .project-role {
        font-size: 9px;
    }

    .project-context {
        font-size: 9px;
    }

    .project-period {
        font-size: 9px;
    }

    .desc-title {
        font-size: 32px;

    }

    .projects-desc {
        font-size: 14px;
        width: 80%;
    }

    .next-projects {
        padding: 30px 10px 30px 23px;

        .next-work {
            font-size: 26px;

        }

        .next-arrow {
            display: none;
        }
    }
}