@import "config";
@import "menu";
@import "parallax";

* {
  box-sizing: border-box;
}

body {
  background: #f3f3f3;
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.lg-heading {
  font-size: 3.9975843648em;
  margin-bottom: 0;
  line-height: 100px;
  font-family: "spartan";
  letter-spacing: -6px;
  margin-top: 0;
  margin-left: -15px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    width: 600px;
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes move {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    visibility: visible;
    opacity: 0;
  }
}

@keyframes slide {
  from {
    left: 0;
    overflow: hidden;
    transform: translateX(0%);
  }

  to {
    left: 0;
    overflow: hidden;
    transform: translateX(100%);
  }
}

.hero-name {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 650px;
  font-size: 19px;
  position: relative;


  .lg-head {
    color: $hero-color;
    font-size: 85px;
    margin-bottom: 0;
    font-family: "spartan";
    letter-spacing: -4px;
    margin-top: 0;
    line-height: 110px;

  }
}

.lg-head:hover {
  transition: all 0.3s ease-out;
}

@keyframes rubberband {
  0% {
    transform: scale3d(1, 1, 1);
  }

  35% {
    transform: scale3d(1.25, 0.75, 1);
  }

  45% {
    transform: scale3d(0.75, 1, 1);
  }

  60% {
    transform: scale3d(1.2, 0.8, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberbandOut {
  0% {
    transform: scale3d(1, 1, 1);
  }

  35% {
    transform: scale3d(1.25, 0.75, 1);
  }

  45% {
    transform: scale3d(0.75, 1, 1);
  }

  60% {
    transform: scale3d(1.2, 0.8, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

.sm-heading {
  font-family: "spartan";
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 15px;
  margin-top: 3px;
  width: 295px;
  position: relative;


}

a {
  color: $text-color;
  text-decoration: none;
}

.text-secondary {
  color: rgb(0, 0, 0);
}

.nav-links a:hover ::after {
  width: 100%;
  left: 0;
}

body {
  &.is-mobile-open {
    overflow: hidden;
  }

  &.is-open {
    overflow: hidden;

    .icons {
      visibility: hidden;
    }

    .nav-links {
      visibility: hidden;
    }
  }
}

.nav-links2 {
  float: right;
  position: relative;
  margin: 0;
  padding: 0;
  top: 20px;

  a {
    display: block;
    padding: 10px 0px;
    margin-right: 60px;
    font-family: "Spartan", sans-serif;
    position: relative;
    color: $text-color;
    transition: color 0.35s ease;
    font-size: 18px;
    letter-spacing: -1px;
    cursor: pointer;

    &:hover {
      color: white;
      @include easeOut();

      &::before {
        width: 100%;
        left: 0;
      }

      &::after {
        width: 100%;
        left: 0;
      }
    }

    &::before {
      background: #235aa6;
      transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
      content: "";
      position: absolute;
      bottom: 11px;
      right: 0;
      left: auto;
      width: 0;
      height: 3px;
      z-index: 2;
    }

    &::after {
      background: $secondary-color;
      transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
      content: "";
      position: absolute;
      bottom: 11px;
      right: 0;
      left: auto;
      width: 0;
      height: 3px;
      z-index: 2;
    }
  }

  li {
    display: inline-block;
    margin-left: 40px;
  }
}


.contact-about {
  position: absolute !important;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1170px;
  height: 90%;
  position: fixed !important;
  background-color: transparent;
  overflow: hidden;
  visibility: hidden;
  transition: visibility 1s, z-index 1s, box-shadow 0.3s;
  z-index: -1;

  .giga-text {
    font-size: 230px;
    position: absolute;
    opacity: 0.06;
    letter-spacing: -10px;
    font-family: "Mukta", sans-serif;
    z-index: 0;
  }

  .half-contact {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;

    .contact-info {
      position: absolute;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 17%;
      text-align: left;
      width: 70%;
      margin: 0 auto;
    }

    &.is-about {
      transition-delay: 0.2s;
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
      background-color: hsla(0, 0%, 95%, 1.97);
      transition: opacity 0.3s,
        -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
      transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
        opacity 0.3s;
      transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
        opacity 0.3s,
        -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
      z-index: 60;

      .giga-text {
        top: -68px;
        left: 100px;
        font-size: 240px;
      }

      .contact-info {
        color: #1c1d25;
      }
    }

    &.is-contact {
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      background-color: rgba(28, 29, 37, 1.985);
      left: auto;
      right: 0;
      transition: opacity 0.3s,
        -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
      transition: transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1),
        opacity 0.3s;
      transition: transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1),
        opacity 0.3s,
        -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
      z-index: 59;

      .close-contact {
        position: absolute;
        display: block;
        padding: 12px;
        top: 30px;
        right: 30px;
        cursor: pointer;
        color: #fff;
        width: 35px;
        height: 35px;
        transition: all 0.3s ease;
        z-index: 10;

        span {
          position: absolute;
          top: 18px;
          width: 100%;
          height: 3px;
          background-color: #ffffff;
          transition: all 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);

          &:first-child {
            left: 0;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          &:last-child {
            right: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }

        span:before {
          background-color: #f06449;
          transition: all 0.3s ease;
        }

        span:before,
        span:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
        }

        span:after {
          background-color: #f3f3f3;
        }
      }


      .giga-text {
        bottom: -39px;
        right: -167px;
        color: #fff;
        opacity: 0.03;
      }

      .skills-container {
        width: 500px;
        margin: 86px auto 0;
        padding: 20px;

        ul {
          position: relative;

          li {
            position: absolute;
            list-style: none;
            color: #ffff;
          }

          .html {
            font-size: 30px;
            top: 45px;
          }

          .css {
            font-size: 32px;
            top: 20px;
            left: 8em;
          }

          .javascript {
            font-size: 28px;
            left: 9em;
            top: 5em;
          }

          .typescript {
            font-size: 23px;
            left: 4em;
            top: 5em;
            opacity: 0.9;
          }

          .react {
            font-size: 30px;
            top: 6em;
          }

          .redux {
            font-size: 20px;
            right: 55px;
            opacity: 0.8;
          }

          .react-hooks {
            font-size: 20px;
            top: 13em;
            left: 5em;
          }

          .nodejs {
            font-size: 25px;
            top: 8em;
            left: 9em;
          }

          .nestjs {
            font-size: 16px;
            top: 15em;
            left: 21em;
            opacity: 0.5;
          }

          .mongodb {
            left: 135px;
            opacity: 0.6;
            font-size: 20px;
            top: -23px;
          }

          .es6 {
            top: 71px;
            left: 10em;
            font-size: 16px;
          }

          .restful {
            top: 4em;
            opacity: 0.8;
            left: 16em;
            font-size: 20px;
          }

          .bootstrap {
            top: 19em;
            left: 240px;
            opacity: 0.7;
          }

          .git {
            right: 73px;
            top: 12em;
          }

          .sass {
            top: 18rem;
            right: 7rem;
            font-size: 19px;
          }
        }
      }
    }
  }
}

.is-open {
  .contact-about {
    visibility: visible;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
    z-index: 60;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease 0.4s;

    .half-contact {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);

      &.is-about {
        transition-delay: 0s;
      }

      &.is-contact {
        transition-delay: 0.2s;
      }
    }
  }
}

.page-wrap {
  opacity: 1;
  width: 100%;
  min-height: 100%;
  overflow: hidden;


  .scrolled {
    transform: translateY(-120%);
  }

  .main-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: 25;
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
      background 0.3s,
      -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    z-index: 25;

    .nav-content {


      .nav-toggle {
        display: none;

        position: relative;
        top: 22px;
        padding-right: 10px;
        float: right;

        .menu-trigger {
          display: block;
          width: 42px;
          height: 42px;
          cursor: pointer;

          .menu-trigger-bar {
            display: block;
            width: 100%;
            height: 3px;
            background-color: #dbdce4;
            margin-bottom: 6px;
            position: relative;

            &.middle {
              width: 85%;
              margin-left: 15%;
            }

            &.bottom {
              width: 60%;
              margin-left: 40%;
            }
          }
        }
      }
    }

    .nav-links__left {
      flex: 0.7;
      color: white;
      font-size: 20px;
      font-family: 'spartan';
    }

    .nav-links__middle {
      flex: 2;
      display: flex;
      align-items: center;
      color: white;
      opacity: .9;
      font-size: 16px;

      span {
        opacity: 0.5;
        font-size: 15px;
      }

      .number {
        margin-right: 20px;
      }

      .email {
        margin-left: 20px;
      }
    }

    .logo {
      margin-top: 18px;
      width: 9vh;
    }

    .nav-links {
      float: right;
      display: flex;
      align-items: center;
      padding: 15px 60px;
      position: relative;
      margin: 0;
      width: 100%;
      top: 20px;

      a {
        display: block;
        padding: 10px 0;
        font-family: "Spartan", sans-serif;
        position: relative;
        color: $text-color;
        transition: color 0.35s ease;
        font-size: 18px;
        letter-spacing: -1px;
        cursor: pointer;

        &:hover {
          color: white;
          @include easeOut();

          &::before {
            width: 100%;
            left: 0;
          }

          &::after {
            width: 100%;
            left: 0;
          }
        }

        &::before {
          background: #235aa6;
          transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
          content: "";
          position: absolute;
          bottom: 11px;
          right: 0;
          left: auto;
          width: 0;
          height: 3px;
          z-index: 2;
        }

        &::after {
          background: $secondary-color;
          transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
          content: "";
          position: absolute;
          bottom: 11px;
          right: 0;
          left: auto;
          width: 0;
          height: 3px;
          z-index: 2;
        }
      }

      li {
        display: inline-block;
        margin-left: 40px;
      }

      .my-logo {
        margin-left: 0;
      }
    }
  }
}

.is-mobile-open {
  .mobile-menu {
    opacity: 0;
    transition-delay: 0.1s;

    &::after {
      transform: translateX(35%);
      transition-delay: 0s;
    }

    &::before {
      transform: translateX(0%);
      transition-delay: 0.15s;
    }
  }

  .mobile-nav-links {
    opacity: 1 !important;
    transition-delay: 0.4s !important;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%) !important;
  }
}

.mobile-menu {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
  transition: all 0.1s ease 0.5s;
  z-index: 45;

  .close-trigger {
    display: block;
    width: 42px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 46;

    .close-trigger-bar::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0;
      height: 100%;
      background-color: #fff;
      transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    }

    .close-trigger-bar {
      display: block;
      width: 100%;
      height: 4px;
      background-color: #e3d8d3;
      position: relative;

      &.left {
        transform: rotate(-45deg);
      }

      &.right {
        transform: rotate(45deg);
        top: -3px;
      }
    }
  }

  .mobile-nav-links {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15%;
    width: 70%;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: opacity 0.3s ease,
      -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.3s ease,
      transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.3s ease,
      transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1),
      -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition-delay: 0s;
    z-index: 26;

    a {
      display: inline-block;
      color: #fff;
      font-size: 2.2em;
      padding: 12px 25px;
      font-family: "Mukta", sans-serif;
    }
  }
}

.mobile-menu::before {
  transition-delay: 0.25s;

  background-color: #1c1d25;
  background: linear-gradient(270deg, #235aa6, #101b3b);
  z-index: 26;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  will-change: transform;
  transition: -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1),
    -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.mobile-menu::after {
  transition-delay: 0.15s;

  background-color: #f06449;
  background: linear-gradient(270deg, #f06449, #ee2828);
  z-index: 25;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  will-change: transform;
  transition: -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1),
    -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
}


.icons {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2%;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: opacity 0.35s ease 0.75s;
  z-index: 20;
  font-size: 25px;


  li {
    margin: 15px 0;


    a {
      @include easeOut();

      &:hover {
        color: white;
        @include easeOut();
      }
    }
  }
}

.main-hero {
  height: 100vh;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 100%;
  display: block;
  position: relative;
  background: $primary-color;
  z-index: 2;

  .main-hero-text {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    color: #fff;
    transition: color 0.3s ease, opacity 0.3s ease 0.65s;
    z-index: 7;

    .content {
      padding-left: 188px;
    }

    .text-loading-mask {
      position: relative;
      padding-top: 0px;
      padding-left: 21px;
      padding-right: 52px;
      overflow: hidden;
      transition: all 0.2s ease;
      width: 34rem;
    }

    .text-loading-mask-2 {
      position: relative;
      padding-top: 0px;
      padding-left: 21px;
      padding-right: 52px;
      overflow: hidden;
      transition: all 0.2s ease;
      width: 20rem;
    }

    .text-loading-mask-3 {
      position: relative;
      padding-top: 0px;
      margin-top: 30px;
      padding-right: 52px;
      overflow: hidden;
      transition: all 0.2s ease;
      width: 13rem;
    }

    .the-button {
      font-size: 1.1em;
      letter-spacing: 3px;
      padding: 12px 20px !important;
      background: $secondary-color;
      color: white;
      position: relative;
      transition: all 0.3s;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      text-decoration: none;
      padding: 0;
      touch-action: manipulation;
      border: 0;
      white-space: nowrap;
      position: relative;

      &:focus {
        outline: none;
      }



      .button-text {
        position: relative;
        z-index: 10;
        font-family: "spartan";
        font-size: 0.9rem;
        letter-spacing: 2px;
      }

      .button-icon {
        position: absolute;
        top: -8px;
        right: -25px;
        width: 35px;
        height: 35px;
        font-size: 39px;
        transform: translateX(2px);
        transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1),
          -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);

        .arrow-logo {
          width: 35px;
        }
      }

      .button-mask {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
      }

      .button-mask::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transform: translateX(-110%);
        width: 100%;
        background: $third-color;

        transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.02s;
        transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
        transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s,
          -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
        z-index: 1;
        will-change: transform;
      }
    }

    .the-button:hover .button-mask::before {
      transform: translateX(101%);
      background: $third-color;
    }

    .the-button:hover .button-icon {
      transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1),
        -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
      transform: translateX(8px);
    }
  }

  .go-next-works:hover .the-arrow:before {
    height: 2px;
    top: -3px;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }

  .go-next-works:hover .the-arrow:after {
    height: 2px;
    top: 3px;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  .go-next-works:hover .the-arrow {
    height: 2px;
    height: 2px;
    margin-left: 5px !important;
    top: 2px !important;
    opacity: 1;
    width: 36px;
  }

  .go-next-works {
    cursor: pointer;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    left: 50%;
    font-family: "Libre Baskerville", serif;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 10px;
    padding: 20px;
    color: #fff;
    font-size: 0.9rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: opacity 0.35s ease 0.7s;
    z-index: 7;

    .the-arrow {
      position: relative;
      display: inline-block;
      background: #fff;
      opacity: 0.8;
      height: 1px;
      width: 33px;
      top: -3px;
      transition: all 0.3s;
      transform: rotate(-90deg);
      top: 14px !important;
      width: 45px;

      &::before {
        opacity: 1;
        content: "";
        position: absolute;
        background: #fff;
        height: 1px;
        width: 10px;
        left: -1px;
        margin-right: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 0.3s;
        top: 0;
        transform: rotate(0);
      }

      &::after {
        opacity: 1;
        content: "";
        position: absolute;
        background: #fff;
        height: 1px;
        width: 10px;
        left: -1px;
        margin-right: 0;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: all 0.3s;
        top: 0;
        transform: rotate(0);
      }
    }
  }
}

main {
  position: relative;
  display: block;
}

.home {
  position: relative;
  padding: 80px 0;
  position: relative;
  width: 100%;
  display: block;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;
      color: set-text-color($primary-color);

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  h1 {
    margin-bottom: 0.0938066507em;
    font-size: 3.9975843648em;
    line-height: 0.9380665066;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

.boxes {
  justify-content: space-evenly;
  align-items: center;
  margin-top: 12rem;
  margin-left: -27px;

  div {
    width: 298px;
    margin-left: 31px;
    font-size: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease-out;


  }
}


.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

.work-section {
  padding: 80px 0;
  position: relative;
  width: 100%;
  display: block;

  .content {
    width: 95%;
    margin: 0 auto;

    .work-title {
      text-align: center;
      color: #b19386;
      font-size: 0.8rem;
      letter-spacing: 2px;
      margin-bottom: 0;
      font-family: "Libre Baskerville", serif;
    }

    .work-subtitle {
      text-align: center;
      margin-bottom: 70px;
      font-family: "spartan";
      margin-top: 11px;
      font-size: 2rem;
      letter-spacing: -2px;
      color: #4a4a4a;
    }

    .work-list {
      padding: 0;
      margin: 0;

      .project1-li {
        margin: 50px 10px 100px 80px;
      }

      .project2-li {
        margin: 50px 80px 100px 10px;
      }

      li {
        margin-bottom: 135px;
        list-style: none;

        #project1 {
          background: url("../Assets/Images/sdsd.png");
          background-size: cover;
        }

        #project2 {
          background: url("../Assets/Images/PROJECT-2.png");
          background-size: cover;
        }

        #project3 {
          background: url("../Assets/Images/dd.png");
          background-size: cover;
        }

        #project4 {
          background: url("../Assets/Images/advantges1.png");
          background-size: cover;
        }

        #project5 {
          background: url("../Assets/Images/slack-features.jpg");
          background-size: cover;
        }



        .project:hover .project-mask::after {
          transform: translateX(0%);
        }

        .project:hover .project-mask-number {
          opacity: 1;
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }

        .project:hover .project-mask-number .project-mask-overlay {
          transition-delay: 0.4s;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
        }

        .project:hover .project-mask-number .project-mask-overlay::before {
          transition-delay: 0.4s;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
        }

        .project:hover .work-text-section {
          opacity: 1;
          -webkit-transform: scale(1) translateY(0);
          transform: scale(1.3) translateY(0);
          transition: transform 0.45s, opacity 0.25s;
          transition-delay: 0.4s;
        }

        .project {
          display: block;
          width: 100%;
          height: 100%;
          width: 70%;
          opacity: 1;
          height: 530px;
          background-color: #1c1d25;
          position: relative;
          box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.45);
          margin-left: auto;
          margin-right: auto;
          background-position: 50%;
          background-size: cover;
          background-repeat: no-repeat;
          transition: all 0.35s ease;

          &::before {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: block;
            content: " ";
            background: $primary-color;
            opacity: 0.6;
            transition: opacity 0.3s ease;
            z-index: 2;
          }

          .project-mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            z-index: 0;

            &:after {
              content: "";
              position: absolute;
              top: 0;
              opacity: 1;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(28, 29, 37, 0.9);
              background: linear-gradient(270deg,
                  rgba(35, 90, 166, 0.9),
                  rgba(16, 27, 59, 0.9));
              -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
              transition: opacity 0.2s,
                -webkit-transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s;
              transition: transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s,
                opacity 0.2s;
              transition: transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s,
                opacity 0.2s,
                -webkit-transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0.2s;
              z-index: 9;
            }
          }

          .work-text-section {
            position: absolute;
            left: 110px;
            bottom: 90px;
            color: #fff;
            z-index: 10;
            opacity: 1;
            -webkit-transform: scale(1) translateY(0);
            transform: scale(1.2) translateY(0);
            transition: transform 0.45s, opacity 0.25s;
            transition-delay: 0.4s;

            .project-title {
              font-size: 2.827145944em;
              line-height: 1.0611408323;
              font-family: "Mukta", sans-serif;
            }

            .project-subtitle {
              font-family: LibreBaskerville-Regular, Palatino Linotype,
                Times New Roman, serif;
              font-weight: 400;
              font-style: italic;
              margin-bottom: 20px;
              font-size: 18px;
              line-height: 0.9;
            }

            .the-button {
              letter-spacing: 3px;
              padding: 12px 20px !important;
              background: linear-gradient(270deg, #f06449, #ef3636);
              color: #fff;
              position: relative;
              transition: all 0.3s;
              display: inline-block;
              text-align: center;
              vertical-align: middle;
              cursor: pointer;
              text-decoration: none;
              padding: 0;
              border: 0;
              touch-action: manipulation;
              white-space: nowrap;

              .button-text {
                position: relative;
                z-index: 10;
                font-family: "spartan";
              }

              .button-icon {
                position: absolute;
                top: -11px;
                right: -24px;
                width: 35px;
                height: 35px;
                font-size: 39px;
                transform: translateX(2px);
                transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1),
                  -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);

                .arrow-logo {
                  width: 35px;
                }
              }

              .button-mask {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
              }

              .button-mask::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                transform: translateX(-110%);
                width: 100%;
                background-color: #1b2e63;
                background: linear-gradient(270deg, #235aa6, #213777);

                transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.02s;
                transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
                transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s,
                  -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
                z-index: 1;
                will-change: transform;
              }
            }

            .the-button:hover .button-mask::before {
              transform: translateX(101%);
              background: linear-gradient(270deg, #235aa6, #101b3b);
            }

            .the-button:hover .button-icon {
              transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1),
                -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
              transform: translateX(8px);
            }
          }
        }
      }

      #project-number-1 {
        top: -110px;
        right: -67px;
      }

      #project-number-2 {
        top: -110px;
        left: -30px;
      }

      .project-mask-number {
        display: block;
        position: absolute;
        top: -40px;
        right: -45px;
        width: 300px;
        height: 280px;
        font-size: 15.5625em;
        letter-spacing: -14px;

        overflow: hidden;
        font-family: "Mukta", sans-serif;

        color: #99999d;
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        opacity: 0;
        transition: opacity 0.3s,
          -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: opacity 0.3s,
          transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
        transition: opacity 0.3s,
          transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1),
          -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
        z-index: 90;

        .project-mask-back,
        .project-mask-front {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .project-mask-overlay {
            overflow: hidden;
            position: relative;
            transform: translate3d(0, 100%, 0);
            color: transparent;
            transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s,
              -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;

            &::before {
              content: attr(data-index);
              position: absolute;
              top: 0;
              left: 0;
              color: #fff;
              text-shadow: 5px 5px 11px rgba(74, 74, 74, 0.5);
              width: 100%;
              height: 100%;
              transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s,
                -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
              transform: translate3d(0, -100%, 0);
            }
          }
        }
      }
    }
  }
}

.no-info {
  font-size: 13px;
  position: absolute;
  bottom: -60px;
  color: white;
  padding: 2px;
  left: 3px;
  background-color: black;
  border: 7px solid black;
  border-radius: 6px;
}


.visit-website-btn {
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.6);
  padding: 17px 20px 15px 20px;
  position: relative;
  @include easeOut();

  &:focus {
    outline: none;
  }



  &:hover {
    background-color: white;
    @include easeOut();
    cursor: pointer;


    .button-text {
      @include easeOut();
      color: black;
    }

    .button-icon {
      transform: translateX(10px);

    }
  }



  .button-text {
    @include easeOut();

    color: white;
    position: relative;
    z-index: 10;
    font-family: "spartan";
    font-size: 1.1rem;
    letter-spacing: 2px;
  }

  .button-icon {
    position: absolute;
    top: -4px;
    right: -25px;
    width: 35px;
    height: 35px;
    font-size: 39px;
    transform: translateX(2px);
    transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1),
      -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);

    .arrow-logo {
      width: 37px;
    }
  }

  .button-text2 {
    @include easeOut();

    color: rgb(0, 0, 0);
    position: relative;
    z-index: 10;
    font-family: "spartan";
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
}

.footer {
  width: 100%;
  background: #1c1d25;
  padding: 8% 0;
  display: block;
  color: #f3f3f3;

  .content {


    .inner-container {
      width: 105%;
      position: relative;
      text-align: center;

      .footer-links {
        display: inline-block;
        list-style: none;
        padding: 0;
        letter-spacing: -1px;
        text-align: center;
        font-size: 1.3em;

        li {
          display: inline-block;
          margin-right: 60px;

          a {
            display: block;
            padding: 15px 0;
            font-family: "Mukta", sans-serif;
            position: relative;
            color: #f3f3f3;
            transition: color 0.3s ease;
          }
        }
      }
    }

    .footer-copy {
      width: 100%;
      padding-top: 15px;
      text-align: center;
      font-size: 0.8em;
      font-family: "libre Baskerville", sans-serif;

      a {
        color: white;
        font-family: "libre Baskerville", sans-serif;
      }
    }
  }
}

.loading-screen {
  position: absolute;
  z-index: 100;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #C62B2E;

  span {
    font-size: 50px;
    text-align: center;
  }

  &::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    animation-name: mymove;
    animation-duration: 2s;
    background-color: #CC9966;
  }
}

.loading-screen2 {
  position: absolute;
  z-index: 100;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(41, 168, 73);

  &::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    animation-name: mymove;
    animation-duration: 2s;
    background-color: #d1c521;
  }
}

.loading-screen3 {
  position: absolute;
  z-index: 100;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #171536;

  &::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    animation-name: mymove;
    animation-duration: 2s;
    background-color: #D49719;
  }
}

.loading-screen4 {
  position: absolute;
  z-index: 100;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0069a6;

  &::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    animation-name: mymove;
    animation-duration: 2s;
    background-color: #333333;
  }
}

.loading-screen5 {
  position: absolute;
  z-index: 100;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #3f0f40;

  &::after {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    animation-name: mymove;
    animation-duration: 2s;
    background-color: rgb(214, 214, 214);
  }
}

@keyframes mymove {
  to {
    left: 100%;
  }
}


.sk-cube-grid {
  width: 130px;
  position: absolute;
  height: 130px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: rgb(255, 255, 255);
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {

  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }

  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
}

.projects-header {
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-size: cover !important;
  background: url(../Assets/Images/reddress-1596726619597-7020.jpg) no-repeat 50% 10%;
}

.projects-header2 {
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-size: cover !important;
  background: url(../Assets/Images/RAVE-Review-BestNikeRunningShoes-Body3.jpg) no-repeat center center;
}

.projects-header3 {
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-size: cover !important;
  background: url(../Assets/Images/dd.png) no-repeat 83% 52%;
}

.projects-header4 {
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-size: cover !important;
  background: url(../Assets/Images/advantges1@3x.png) no-repeat center center;
}

.projects-header5 {
  color: white;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-size: cover !important;
  background: url(../Assets/Images/slack-features.jpg) no-repeat center center;
}

.projects-header::before {

  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.projects-header2::before {

  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.projects-header3::before {

  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.projects-header4::before {

  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}

.projects-header5::before {

  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

}


.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .projects-title {

    font-size: 4.997584em;
    line-height: .9380665066;
    font-weight: bold;
    font-family: "spartan";
    letter-spacing: -4px;


  }

  .projects-subtitle {
    padding-top: 10px;
    font-size: 1.500em;
    font-style: italic;
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
  }

}

.projects-details {
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 45px;
  color: #fff;
  z-index: 3;
  justify-content: space-around;
}

.projects-description {
  display: flex;
  position: relative;
  color: white;
  font-family: "Libre Baskerville", serif;
  padding: 70px 0 100px 0;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  align-items: center;
  background-color: #060c10;
}

.desc-title {
  font-size: 60px;
  padding: 30px;
  font-weight: bold;
  letter-spacing: -3px;
  font-family: "spartan";



}

.projects-desc {
  font-size: 20px;
  width: 37%;
  text-align: justify;
  padding-bottom: 32px;

}

.visit-website-button {
  padding: 37px;

}

.next-projects {
  padding: 45px 160px 45px 160px;
  cursor: pointer;
  color: white;
  background-color: black;
  transition: transform .38s cubic-bezier(.694, .048, .335, 1), -webkit-transform .38s cubic-bezier(.694, .048, .335, 1);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #37A5EB;
    transition: transform .38s cubic-bezier(.694, .048, .335, 1), -webkit-transform .38s cubic-bezier(.694, .048, .335, 1);
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: rgb(228, 72, 72);
    transition: transform .38s cubic-bezier(.694, .048, .335, 1), -webkit-transform .38s cubic-bezier(.694, .048, .335, 1);
  }


}

.next-projects:hover::before {
  transition: transform .40s cubic-bezier(.694, .048, .335, 1), -webkit-transform .38s cubic-bezier(.694, .048, .335, 1);
  transform: translateY(0);

}

.next-projects:hover::after {
  transition: transform .65s cubic-bezier(.694, .048, .335, 1), -webkit-transform .38s cubic-bezier(.694, .048, .335, 1);
  transform: translateY(0);

}

.next-projects:hover .next-arrow {
  right: -30px;
  transition: all .40s ease-in-out
}

.next-work-title {
  color: white;
  z-index: 5;
  position: relative;

}

.next-work {
  font-size: 50px;
  position: relative;
  z-index: 5;
  letter-spacing: -3px;
  font-family: "spartan";
}



.project-role {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: "spartan";


}

.project-context {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;

  font-family: "spartan";


}

.project-period {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;

  font-family: "spartan";


}

.next-arrow {
  width: 90px;
  color: black;
  right: 0;
  top: 18px;
  position: absolute;
  transition: all .20s ease-in-out
}





.the-button {
  font-size: 1.1em;
  letter-spacing: 3px;
  padding: 12px 20px !important;
  background: $secondary-color;
  color: white;
  position: relative;
  transition: all 0.3s;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  touch-action: manipulation;
  border: 0;
  white-space: nowrap;
  position: relative;

  &:focus {
    outline: none;
  }


  .button-text {
    position: relative;
    z-index: 10;
    font-family: "spartan";
    font-size: 0.9rem;
    letter-spacing: 2px;
  }

  .button-icon {
    position: absolute;
    top: -8px;
    right: -25px;
    width: 35px;
    height: 35px;
    font-size: 39px;
    transform: translateX(2px);
    transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1),
      -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);

    .arrow-logo {
      width: 35px;
    }
  }

  .button-mask {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .button-mask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-110%);
    width: 100%;
    background: $third-color;

    transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.02s;
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s,
      -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
    z-index: 1;
    will-change: transform;
  }
}

.the-button:hover .button-mask::before {
  transform: translateX(101%);
  background: $third-color;
}

.the-button:hover .button-icon {
  transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1),
    -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateX(8px);
}



@import "mobile";